<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wultimaproject.db2" >

    <!-- Guess what? -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Needed by the Google Play services (the map, precisely) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Google Map widget: permissions to receive map images and stuff -->
    <permission
        android:name="org.wultimaproject.db2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.wultimaproject.db2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".utils.GeoManager">

        <!-- Used for Google Map widget -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAyhjuomHOLb3yJ7_2J8sgtHgbhe7mUjBY" />

        <!-- Used also for Map widget -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ReadFromJson"
            android:exported="false" />

        <activity
            android:name=".CityChooserActivity"
            android:label="@string/title_activity_city_chooser"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".WalkthroughActivity"
            android:label="WalkthroughActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SettingTourActivity"
            android:label="SettingTour"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ShowTourTimeLineActivity"
            android:label="SettingTour"
            android:screenOrientation="portrait">
        </activity>


        <!--<activity-->
        <!--android:name=".ShowPlaceActivity"-->
        <!--android:label="ShowPlaceActivity"-->
        <!--android:screenOrientation="portrait">-->
        <!--</activity>-->



        <activity android:name=".ShowDetailsActivity"
            android:label="ShowDetailsActivity"
            android:screenOrientation="portrait"
            >
            <!--android:theme="@style/Theme.ShowDetailsActivity"-->


        </activity>


        <activity
            android:name=".SplashActivityTimeLine"
            android:label="SplashActivityTimeLine"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".LiveMapActivity"
            android:label="LiveMapActivity"
            android:screenOrientation="portrait">
        </activity>




        <service
            android:name="org.wultimaproject.db2.services.LookUpIntentService"
            android:exported="false"/>
    </application>

</manifest>
